.container{
    height: 100vh;
    display: grid;
    place-items: center;
}
h1{
    font-family: $header-font;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 20px;
    img{
        vertical-align: middle;
    }
}