body {
  font-family: $body-font;
  color: $dark-blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font;
}

a {
  text-decoration: none;
  color: $orange;
  &:hover,
  &:focus {
    color: $dark-blue;
  }
}
