@import "reset";
@import "fonts";
@import "variables";
@import "global";

@import "~include-media/dist/_include-media.scss";

.section-hello-world {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: lighter;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    p {
      margin-bottom: 10px;
    }
  }
}
